version: "1.0"

services:
  chat-service:
    build:
      context: .
      dockerfile: chat-service/Dockerfile
    ports:
      - "8081:8081"

  user-service:
    build:
      context: .
      dockerfile: user-service/Dockerfile
    ports:
      - "8082:8082"

  gateway-service:
    build:
      context: .
      dockerfile: gateway-service/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - chat-service
      - user-service
